.image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
}

.logo {
    width: 300px;
}

.link-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.mail-link {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
}

.mail-link:hover {
    background-color: #000;
    color: #fff;
}

.description {
    width: 80%;
    margin: auto;
    text-align: center;
}